.btn {
    text-transform: capitalize;
    padding: 6px 20px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 2px solid purple;
    background-color: white;
}
